$chipColorPrimary: $primaryActionColor;
$chipBackgroundColor: $primaryActionColor;
$chipActiveBackgroundColor: $primaryActionColor;
$chipBorderColor: $primaryActionColor;
$chipActiveBorderColor: $primaryActionColor;
