$inputBackgroundColor: white;
$inputActiveBackgroundColor: white;
$inputFontColor: $secondaryBackgroundColor;
$inputBorderColor: $secondaryBackgroundColor;
$inputHoverBorderColor: $primaryActionColor;
$inputActiveBorderColor: $primaryActionColor;
// $inputDisableBackgroundColor: transparent;
